@import url(https://www.adfinis-sygroup.ch/_fonts/the-sans-office.css);
body, html {
  font-family: TheSansOffice
}


div.training-category {
  margin-bottom: 50px;
}
div.training-item {
    margin-bottom: 85px;
    margin-left: 330px;
    margin-top: -50px;
    display: block;
}


div.training-item > div.html-list > div {
}
div.training-item > div.html-list > div::before {
    font-family: FontAwesome;
    content: "\f1c9";
    padding-right: 10px;
}


div.training-item > div.pdf-list > div {
}
div.training-item > div.pdf-list > div::before {
    font-family: FontAwesome;
    content: "\f1c1";
    padding-right: 10px;
}

li.sub-item a {
  margin-left: 52px;
}
